// NOTE: queueSize is not honoured by awsbatch executor
executor.queueSize = 100

process {
  // NOTE: aws plugin does not allow variable assignment here. Previously the number of
  // allowable retries was set elsewhere and reference symbolically here.
  errorStrategy = { task.attempt < 3 ? 'retry' : 'ignore' }

  // Default process time and memory
  time = { 120.minutes * task.attempt }
  memory = { 4096.MB * task.attempt }

  // Specific process resources
  //withName: index_vcf {
  //  time = { 120.minutes * task.attempt }
  //  memory = { 4096.MB * task.attempt }
  //}
  //withLabel: process_small_resources {
  //  time = { 120.minutes * task.attempt }
  //  memory = { 4096.MB * task.attempt }
  //}
}

// Nextflow run info outputs
dag {
  enabled = true
  file = "${params.nextflow_run_dir}/dag.svg"
}

report {
  enabled = true
  file = "${params.nextflow_run_dir}/report.html"
}

timeline {
  enabled = true
  file = "${params.nextflow_run_dir}/timeline.html"
}

trace {
  enabled = true
  file = "${params.nextflow_run_dir}/trace.txt"
}
